[Desktop Entry]
Name=Fuel Tracker
Comment=Tankverbrauch und Kosten erfassen
Exec=fuel-tracker
Icon=icons/fuel-tracker.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-Supported-Orientations=portrait
Categories=Utility;
